@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



.place-holders{
    font-family: 'Roboto';
    font-weight:bold;
}

.guardian-names{
    cursor: pointer;
    font-size:14px;
    font-family:"Roboto";
    font-weight:bold;
    margin-left:20px;
    margin-right:10px;
}

.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(9, 154, 222, 0.1);
}

.header {
    position: relative;
    background-color: #1df4f4;
    padding: 10px;
    text-align: center;
    color: #000000;
    font-family: "Roboto";
    font-weight: bold;
}

.input-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:70px;
}

.tool-name{
    font-family:'Roboto';
    font-weight:bold;

}

.output-text{
    min-height: 100px;
    overflow: auto;
    border-radius: 5px;
    border-style:solid;
    border-color:antiquewhite;
    max-height:130px;
}

.pii-value{
    background-color: #1df4f4;
}

.pii-value:hover{
    background-color: darkblue;
    color:#1df4f4;
}

.button{
    font-family:"Roboto";
    height:45px;
    min-width:100px;
    font-weight:bold;
}



.tag-name{
    font-size:10px;
    margin-top:0px;
}

.tool-name {
    font-family: 'Roboto';
    font-weight: bold;

}

button {
    font-family: "Roboto";
}

.tag-name {
    font-size: 10px;
    margin-right: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.button-container {
    display: flex;
    justify-content: space-between;

}


.custom-button {

    font-size: 0.8rem;
    /* Smaller font size */
    padding: 10px;
    background-color: #1df4f4;
    color:darkblue;
    border: none;
    border-radius:10px;
}

.anonymize-button{
    background-color:darkturquoise;
}

.custom-button:hover{
    background-color: darkblue;
    color: #1df4f4;
}

body {
    background-color: #f8f9fa;
}

.sidebar {
    background-color: #ffffff;
    color: white;
    height: 10vh;
}

.content {
    padding: 20px;
    padding-top:0px;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header h3 {
    font-size: 1.5rem;
    color: #003366;
}

.input-section textarea {
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}



.output-section textarea {
    margin-top: 20px;
    border-radius: 10px;
}

body {
    background-color: #f8f9fa;
}

/* Add your custom styles here */
.nav-link {
    color: #007bff;
    /* Blue color for the buttons */
    cursor: pointer;
    /* Show pointer cursor on hover */
    
}

.nav-link.active {
    font-weight: bold;
    /* Bold font for the active button */
    font-size:25px;
}

/* Style for buttons in Files Section */
#filesSection .btn {
    margin-right: 10px;
}

.features {
    background-color: #1df4f4;
}

.spinner-container{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100px;
}

.spinner-container2{
    display:flex;
    justify-content: center;
    align-items:center;
    height:50px;
}
.custom-popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0. 5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-popup-content textarea {
    width: 300px;
    /* Adjust width as necessary /
  height: 100px; / Adjust height as necessary */

  }
  
  .custom-popup-content button {
  margin-top: 10px;
  }

  .file-link{
    font-family:'Roboto'
  }

